{% load static  %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Django Crud</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
   
  </head>
  <body>
    <div class="relative bg-gray-900 pt-5 flex flex-col border-2 w-full h-screen items-center align-center content-center justify-center">
    <a href="/tasks/" class="text-3xl font-bold text-white">
      To Do App
    </a>

    <div class="h-full relative flex w-3/12 flex-col justify-start">
    <form class="relative  " action="/main/new/" method="POST">
      {% csrf_token %}
        <div>
          <label for="title" class="block font-bold  text-sm font-medium leading-6 text-white">Title</label>
          <div class="mt-2">
            <input type="text" required name="title" id="title" class="p-5  block w-full text-black rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="description" class="block font-bold  text-sm font-medium leading-6 text-white">Description</label>
          <div class="mt-2">
            <textarea id="description" required name="description" rows="5" class="p-5  block w-full text-black rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
          </div>
        </div>
        <div>
          <label for="done" class="block font-bold  text-sm font-medium leading-6 text-white">Status</label>
          <div class="mt-2">
            <input type="checkbox" id="done" name="done" class="p-5  block rounded-md py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="mt-5 relative flex">
          <button type="submit" class="rounded-md bg-indigo-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
        </div>
    </form>

    {{select}}
    <div class="overflow-hidden mt-3 border rounded-md bg-white text-black shadow">
      <ul role="list" class="divide-y divide-gray-200">
        {% for task in tasks%}
        <li class="px-6 py-4 flex justify-between">
          <div>
           <a href="{% url 'update_task' task.id %}">{{task.title}} | {{task.description}}</a>
          </div>
          {%if task.done%}
          <div class="inline-flex items-baseline rounded-full px-2.5 py-0.5 text-sm font-medium bg-green-100 text-green-800 md:mt-2 lg:mt-0">
            <span class="sr-only"> Decreased by </span>
            {{task.done}}
          </div>
          {%else%}
          <div class="inline-flex items-baseline rounded-full px-2.5 py-0.5 text-sm font-medium bg-red-100 text-red-800 md:mt-2 lg:mt-0">
            <span class="sr-only"> Decreased by </span>
            {{task.done}}
          </div>
          {% endif %}
          <div>
            <form action="{% url 'delete_task' task.id %}" method="POST">
              {% csrf_token %}
            <button type="submit" class="rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Delete</button>
            </form>
          
          </div>
        </input>
        </li>
        {% empty %}
        <div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
          <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Tasks not found</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">There is no tasks created yet</p>
          </div>
        </div>
        {% endfor %}
      </ul>
    </div>
    
  </div>
    <script src="" async defer></script>
  </body>
</html>